<!--
    Copyright (C) 2017 LESERT Aymeric - aymeric.lesert@concilium-lesert.fr

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License along
    with this program; if not, write to the Free Software Foundation, Inc.,
    51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
-->

@model Syncytium.Web.Areas.ViewModels.UserViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />

        <title>@(Model.GetLabel("BTN_FORGET_PASSWORD"))</title>

        <link rel="icon" type="image/png" href="~/favicon.png" />

        <link rel="stylesheet" type="text/css" href="~/Content/Styles/GUI/Button/Button.css" />
        <link rel="stylesheet" type="text/css" href="~/Content/Styles/Areas/Administration/User/ForgetPassword.css" />

        <script src="~/Scripts/jquery-3.2.1.min.js"></script>

        <script type="text/javascript">
            function load() {
                $('form').submit(function () {
                    $('#submit').attr('disabled', 'disabled');
                    $('#cancel').attr('disabled', 'disabled');
                });
            }
        </script>
    </head>

    <body onload="load();">
        <page class="@(Model.Mode)">
            @using (Html.BeginForm())
            {
                <logo></logo>
                @Html.ValidationSummary()
                <field>
                    <div class="login"></div>
                    <div class="editor"><input id="Login" name="Login" type="text" value="@(Model.UserProfile.Login)" placeholder="@(Model.GetLabel("USER_LOGIN"))" /></div>
                </field>

                <input id="submit" name="submit" type="submit" class="button" value="@Model.GetLabel("BTN_SEND_EMAIL")" />
                <input type="button" name="cancel" class="button" value="@Model.GetLabel("BTN_CANCEL")" onclick='javascript:window.location="/Administration/User/SignIn"' />

                if (Model.StatusOK)
                {
                    <footer>
                        <div class="forget"></div>
                        <div class="powered">@Model.GetLabel("FOOTER_SYNCYTIUM") - @(Model.Version)</div>
                    </footer>
                }
                @Html.AntiForgeryToken()
            }
        </page>
    </body>
</html>
