
@model Syncytium.Web.Areas.ViewModels.UserViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />

        <title>@(Model.GetLabel("USER_NEW_PASSWORD"))</title>

        <link rel="icon" type="image/png" href="@Model.AddSource("/favicon.png")" />

        <link rel="stylesheet" type="text/css" href="@Model.AddSource("/Content/theme.css")" />
        <link rel="stylesheet" type="text/css" href="@Model.AddSource("/Content/Styles/GUI/Button/Button.css")" />
        <link rel="stylesheet" type="text/css" href="@Model.AddSource("/Content/Styles/Areas/Administration/User/NewPassword.css")" />

        <script src="~/Scripts/jquery-3.5.1.min.js"></script>
        <script type="text/javascript">
            function load() {
                $('form').submit(function () {
                    $('#submit').attr('disabled', 'disabled');
                });
            }
        </script>
    </head>

    <body onload="load();" class="@(Model.Mode)">
        <page>
            @using (Html.BeginForm())
            {
                <logo></logo>
                @Html.ValidationSummary()
                <field>
                    <div class="login"></div>
                    <div class="editor"><input id="Login" name="Login" type="text" value="" placeholder="@(Model.GetLabel("USER_LOGIN"))" /></div>
                </field>
                <field>
                    <div class="password"></div>
                    <div class="editor"><input id="NewPassword1" name="NewPassword1" type="password" value="" placeholder="@(Model.GetLabel("USER_NEW_PASSWORD"))" /></div>
                </field>
                <field>
                    <div class="password"></div>
                    <div class="editor"><input id="NewPassword2" name="NewPassword2" type="password" value="" placeholder="@(Model.GetLabel("USER_RETYPE_PASSWORD"))" /></div>
                </field>

                <input id="submit" name="submit" type="submit" class="button" value="@(Model.GetLabel("BTN_SUBMIT"))" />
                <input type="button" name="cancel" class="button" value="@Model.GetLabel("BTN_CANCEL")" onclick='javascript:window.location="/Administration/User/SignIn"' />

                <footer>
                    <div class="forget"></div>
                    <div class="powered">@Model.GetLabel("FOOTER_Syncytium") - @(Model.Version)</div>
                </footer>
                @Html.AntiForgeryToken()
            }
        </page>
    </body>
</html>
