<!--
    Copyright (C) 2017 LESERT Aymeric - aymeric.lesert@concilium-lesert.fr

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License along
    with this program; if not, write to the Free Software Foundation, Inc.,
    51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
-->

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>@(ViewBag.Title)</title>

    <link rel="icon" type="image/png" href="~/favicon.png" />

    <link rel="stylesheet" type="text/css" href="~/Content/Styles/Areas/Area.css" />

    @RenderSection("CSSDeclaration")

    @RenderSection("JSDeclaration")
</head>
<body onload="load();">
    <header class="@(Model.Mode)">
        <ul>
            <li class="space" />
            <li class="logo" />
            <li class="space" />
            <li class="symbol" />
            <li class="screen_name">@(ViewBag.Title)</li>
            <li class="spaceall" />
            <li class="photo"><img src="~/Content/Images/Header/User.svg" /></li>
            <li class="signout" onclick="location.href = '@(Model.UrlRoot)Administration/User/SignOut'" />
            <li class="space" />
        </ul>
    </header>

    <main class="fullpage">
        @RenderBody()
    </main>

    <div class="progress" style="display:none;">
        <div>
            <progress id="bar" min="0" max="100" value="0"></progress>
            <br />
            <div id="progressStatus">@Model.GetLabel("MSG_COMMITTING")</div>
        </div>
    </div>

    <footer>
        @Model.GetLabel("FOOTER_SYNCYTIUM") - @(Model.Version) &copy; @DateTime.Now.Year
    </footer>
</body>
</html>
