<!--
    Copyright (C) 2020 LESERT Aymeric - aymeric.lesert@concilium-lesert.fr

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License along
    with this program; if not, write to the Free Software Foundation, Inc.,
    51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
-->

@model Syncytium.Web.Areas.ViewModels.UserViewModel
@{
    Layout = null;
    ViewBag.First = true;

    /*
     * ViewBag definition:
     * -------------------
     *
     * Title : title of the screen
     * Module : name of the current module
     *
     * Section definition:
     * -------------------
     *
     * JSDeclaration : add extended javascript
     * CSSDeclaration: add extended style
     */
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="theme-color" content="#317EFB" />

    <title>@Model.GetLabel(ViewBag.Area)</title>

    <!-- Frameworks -->

    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/moment-with-locales.min.js"></script>
    <script src="~/Scripts/webix.min.js"></script>
    <script src="~/Scripts/html2canvas-0.5.0-alpha1.min.js"></script>
    <script src="~/Scripts/html2canvas-0.5.0-alpha1.svg.min.js"></script>
    <script src="@Model.AddSource("/Content/Fonts/pdfmake-montserrat.js")" charset="iso-8859-1"></script>
    <script src="~/Scripts/pdfmake-0.2.0-alpha.0.min.js"></script>

    <!-- Webix locales -->

    <script src="@Model.AddSource("/Content/Locale/FR.js")" charset="iso-8859-1"></script>

    <!-- Moment locales -->

    <script src="@Model.AddSource("/Content/Locale/Moment.js")" charset="iso-8859-1"></script>

    <!-- Tools -->

    <script src="@Model.AddSource("/Content/Scripts/Tools/Namespace.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/Tools/Array.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/Tools/String.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/Tools/Logger.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/Tools/LoggerBaseObject.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/Tools/Errors.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/Tools/Helper.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/Tools/Picture.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/Tools/PDF.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/Tools/CSV.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/Tools/Dates.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/Tools/SortArray.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/Tools/Similarity.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/Tools/Digits.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/Tools/Clipboard.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/Tools/Thread.js")" charset="iso-8859-1"></script>

    <!-- Filters -->

    <script src="@Model.AddSource("/Content/Scripts/Filter/Filter.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/Filter/FilterItems.js")" charset="iso-8859-1"></script>

    <!-- Lists -->

    <script src="@Model.AddSource("/Content/Scripts/List/List.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/List/ListArray.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/List/ListEnumerable.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/List/ListLanguage.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/List/ListRecord.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/List/ListCalendar.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/List/ListHistory.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/List/ListArrayRecord.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/List/ListArrayRecordAssociation.js")" charset="iso-8859-1"></script>

    <!-- GUI Components -->

    <script src="@Model.AddSource("/Content/Scripts/GUI/GUI.js")" charset="iso-8859-1"></script>

    <script src="@Model.AddSource("/Content/Scripts/GUI/Webix/Webix.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/GUI/Webix/WebixBar.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/GUI/Webix/WebixTooltip.js")" charset="iso-8859-1"></script>

    <script src="@Model.AddSource("/Content/Scripts/GUI/Field/Field.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/GUI/Field/FieldInput.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/GUI/Field/FieldCheckBox.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/GUI/Field/FieldSelect.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/GUI/Field/FieldFile.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/GUI/Field/FieldFileImage.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/GUI/Field/FieldFileCSV.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/GUI/Field/FieldSelectImage.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/GUI/Field/FieldInputDigit.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/GUI/Field/FieldInputWithBox.js")" charset="iso-8859-1"></script>

    <script src="@Model.AddSource("/Content/Scripts/GUI/Button/Button.js")" charset="iso-8859-1"></script>

    <script src="@Model.AddSource("/Content/Scripts/GUI/Box/Box.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/GUI/Box/BoxProgress.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/GUI/Box/BoxMessage.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/GUI/Box/BoxInputText.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/GUI/Box/BoxInputDigit.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/GUI/Box/BoxInputFile.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/GUI/Box/BoxInputFilesCSV.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/GUI/Box/BoxSelect.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/GUI/Box/BoxRecord.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/GUI/Box/BoxChoice.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/GUI/Box/BoxReleaseNotes.js")" charset="iso-8859-1"></script>

    <script src="@Model.AddSource("/Content/Scripts/GUI/Board/Board.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/GUI/Board/BoardSocialNetwork.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/GUI/Board/BoardTable.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/GUI/Board/BoardTableAssociation.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/GUI/Board/BoardTree.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/GUI/Board/BoardChart.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/GUI/Board/BoardChartMultiData.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/GUI/Board/BoardChartBar.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/GUI/Board/BoardChartPie.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/GUI/Board/BoardChartLine.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/GUI/Board/BoardHistory.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/GUI/Board/BoardImport.js")" charset="iso-8859-1"></script>

    <!-- Differential Synchronization Database -->

    <script src="@Model.AddSource("/Content/Scripts/Database/DSAnnotation/DSAnnotationAttribute.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/Database/DSAnnotation/DSConstraint/DSConstraintAttribute.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/Database/DSAnnotation/DSConstraint/DSForeignKeyAttribute.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/Database/DSAnnotation/DSConstraint/DSIndexAttribute.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/Database/DSAnnotation/DSConstraint/DSUniqueAttribute.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/Database/DSAnnotation/DSControl/DSControlAttribute.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/Database/DSAnnotation/DSControl/DSEmailAttribute.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/Database/DSAnnotation/DSControl/DSRequiredAttribute.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/Database/DSAnnotation/DSControl/DSKeyAttribute.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/Database/DSAnnotation/DSControl/DSStringAttribute.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/Database/DSAnnotation/DSControl/DSDecimalAttribute.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/Database/DSAnnotation/DSFormat/DSFormatAttribute.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/Database/DSAnnotation/DSFormat/DSDateTimeAttribute.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/Database/DSAnnotation/DSFormat/SyncytiumasswordAttribute.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/Database/DSAnnotation/DSFormat/DSFileAttribute.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/Database/DSAnnotation/DSFormat/DSMaskAttribute.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/Database/DSAnnotation/DSFormat/DSSequenceAttribute.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/Database/DSSchema/DSColumn.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/Database/DSSchema/DSTable.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/Database/DSSchema/DSDatabase.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/Database/DSSchema/DSRecord.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/Database/DatabaseHub.js")" charset="iso-8859-1"></script>

    <!-- Area / Module -->

    <script src="@Model.AddSource("/Content/Scripts/Areas/Area.js")" charset="iso-8859-1"></script>

    <!-- Language -->

    <script src="@Model.AddSource("/Content/Scripts/Areas/Administration/Language/Enum.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/Areas/Administration/Language/Manager.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/Areas/Administration/Language/List.js")" charset="iso-8859-1"></script>

    <!-- User -->

    <script src="@Model.AddSource("/Content/Scripts/Areas/Administration/User/Enum.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/Areas/Administration/User/List.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/Areas/Administration/User/Box.js")" charset="iso-8859-1"></script>

    <!-- Module -->

    <script src="@Model.AddSource("/Content/Scripts/Areas/Administration/Module/Enum.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/Areas/Administration/Module/List.js")" charset="iso-8859-1"></script>

    <!-- UserModule -->

    <script src="@Model.AddSource("/Content/Scripts/Areas/Administration/UserModule/Enum.js")" charset="iso-8859-1"></script>
    <script src="@Model.AddSource("/Content/Scripts/Areas/Administration/UserModule/List.js")" charset="iso-8859-1"></script>

    <!-- Test -->

    <script src="@Model.AddSource("/Content/Scripts/Test/Box.js")" charset="iso-8859-1"></script>

    @RenderSection("JSDeclaration")

    @if (Model.VerboseAll)
    {
        <script type="text/javascript">
            Logger.Instance.IsVerboseAll = true;
        </script>
    }
    @if (Model.Verbose)
    {
        <script type="text/javascript">
            Logger.Instance.IsVerbose = true;
        </script>
    }
    @if (Model.Debug)
    {
        <script type="text/javascript">
            Logger.Instance.IsDebug = true;
        </script>
    }
    @if (Model.IsLogEnabled)
    {
        <script type="text/javascript">
            Logger.Instance.IsEnabled = true;
        </script>
    }

    <script type="text/javascript">
                IMAGES_LOADED_FROM_SERVER = "@(Model.Ressources.JsonListOfImages)";

                // AS data are not loaded yet, set these values by default ...

                ERR_INITIALIZATION = String.decode("@(Model.GetLabel("ERR_INITIALIZATION"))");
                BTN_RELOAD = String.decode("@(Model.GetLabel("BTN_RELOAD"))");
                ERROR = String.decode( "@(Model.GetLabel("ERROR"))" );
                URL_ROOT = "@(Model.UrlRoot)";

                function handleLog() {
                    if ( Logger.Instance.Visible ) {
                        Logger.Instance.hide();
                    } else {
                        Logger.Instance.show();
                    }
                    return false;
                }

                function enableJS() {
                    $( "body" ).off( 'keydown' ).on( 'keydown', function ( e ) {
                        if ( e.key === "Tab" )
                            e.preventDefault();
                    } );
                    $( "body > header > ul > .log" ).show();
                    $( "body > noscript" ).hide();
                    $( "body > main" ).hide();
                    $( "body > .progress" ).hide();
                }

                function signOut() {
                    function handleSignOut() {
                        Hub.Instance.stop(true);
                        Logger.Instance.IsEnabled = false;
                        window.onbeforeunload = null;
                        window.location = URL_ROOT + "Administration/User/SignOut";
                        return true;
                    }

                    if (DSDatabase.Instance.IsEmpty)
                        return handleSignOut();

                    GUI.Box.Message.Message("TITLE_EXIT", "MSG_CONFIRMATION_CANCEL", handleSignOut);
                }

                window.onbeforeunload = function () { Hub.Instance.stop(true); return false; }
    </script>

    <link rel="stylesheet" type="text/css" href="@Model.AddSource("/Content/webix.min.css")" />

    <link rel="stylesheet" type="text/css" href="@Model.AddSource("/Content/theme.css")" />
    <link rel="stylesheet" type="text/css" href="@Model.AddSource("/Content/Styles/Tools/Logger.css")" />

    <link rel="stylesheet" type="text/css" href="@Model.AddSource("/Content/Styles/GUI/GUI.css")" />

    <link rel="stylesheet" type="text/css" href="@Model.AddSource("/Content/Styles/GUI/Button/Button.css")" />

    <link rel="stylesheet" type="text/css" href="@Model.AddSource("/Content/Styles/GUI/Field/Field.css")" />
    <link rel="stylesheet" type="text/css" href="@Model.AddSource("/Content/Styles/GUI/Field/FieldCheckBox.css")" />
    <link rel="stylesheet" type="text/css" href="@Model.AddSource("/Content/Styles/GUI/Field/FieldFile.css")" />
    <link rel="stylesheet" type="text/css" href="@Model.AddSource("/Content/Styles/GUI/Field/FieldFileCSV.css")" />
    <link rel="stylesheet" type="text/css" href="@Model.AddSource("/Content/Styles/GUI/Field/FieldInput.css")" />
    <link rel="stylesheet" type="text/css" href="@Model.AddSource("/Content/Styles/GUI/Field/FieldInputDigit.css")" />
    <link rel="stylesheet" type="text/css" href="@Model.AddSource("/Content/Styles/GUI/Field/FieldInputWithBox.css")" />
    <link rel="stylesheet" type="text/css" href="@Model.AddSource("/Content/Styles/GUI/Field/FieldSelect.css")" />
    <link rel="stylesheet" type="text/css" href="@Model.AddSource("/Content/Styles/GUI/Field/FieldSelectImage.css")" />

    <link rel="stylesheet" type="text/css" href="@Model.AddSource("/Content/Styles/GUI/Board/Board.css")" />
    <link rel="stylesheet" type="text/css" href="@Model.AddSource("/Content/Styles/GUI/Board/BoardHistory.css")" />
    <link rel="stylesheet" type="text/css" href="@Model.AddSource("/Content/Styles/GUI/Board/BoardSocialNetwork.css")" />
    <link rel="stylesheet" type="text/css" href="@Model.AddSource("/Content/Styles/GUI/Board/BoardTable.css")" />
    <link rel="stylesheet" type="text/css" href="@Model.AddSource("/Content/Styles/GUI/Board/BoardTableAssociation.css")" />
    <link rel="stylesheet" type="text/css" href="@Model.AddSource("/Content/Styles/GUI/Board/BoardTree.css")" />
    <link rel="stylesheet" type="text/css" href="@Model.AddSource("/Content/Styles/GUI/Board/BoardImport.css")" />

    <link rel="stylesheet" type="text/css" href="@Model.AddSource("/Content/Styles/GUI/Box/Box.css")" />
    <link rel="stylesheet" type="text/css" href="@Model.AddSource("/Content/Styles/GUI/Box/BoxChoice.css")" />
    <link rel="stylesheet" type="text/css" href="@Model.AddSource("/Content/Styles/GUI/Box/BoxInputDigit.css")" />
    <link rel="stylesheet" type="text/css" href="@Model.AddSource("/Content/Styles/GUI/Box/BoxInputFile.css")" />
    <link rel="stylesheet" type="text/css" href="@Model.AddSource("/Content/Styles/GUI/Box/BoxInputFilesCSV.css")" />
    <link rel="stylesheet" type="text/css" href="@Model.AddSource("/Content/Styles/GUI/Box/BoxInputText.css")" />
    <link rel="stylesheet" type="text/css" href="@Model.AddSource("/Content/Styles/GUI/Box/BoxMessage.css")" />
    <link rel="stylesheet" type="text/css" href="@Model.AddSource("/Content/Styles/GUI/Box/BoxSelect.css")" />
    <link rel="stylesheet" type="text/css" href="@Model.AddSource("/Content/Styles/GUI/Box/BoxRecord.css")" />
    <link rel="stylesheet" type="text/css" href="@Model.AddSource("/Content/Styles/GUI/Box/BoxReleaseNotes.css")" />

    <link rel="stylesheet" type="text/css" href="@Model.AddSource("/Content/Styles/GUI/Webix/Webix.css")" />

    <link rel="stylesheet" type="text/css" href="@Model.AddSource("/Content/Styles/Areas/Area.css")" />
    <link rel="stylesheet" type="text/css" href="@Model.AddSource("/Content/Styles/Areas/Administration/User/Box.css")" />

    <!-- Test -->

    <link rel="stylesheet" type="text/css" href="@Model.AddSource("/Content/Scripts/Test/Box.css")" />

    @RenderSection("CSSDeclaration")
</head>

    <body onload="enableJS(); load('@Model.UserProfile.Login');" onpageshow="if (event.persisted) { window.history.forward(); }">
        <!-- Preload image ... in case of offline, all files must be loaded into the navigator -->

        <div style="display:none;">
            @foreach (string image in Model.Ressources.ListOfImages)
            {
                <img src="~/Content/Images/@(image)" />
            }
        </div>

        <!-- Header -->

        <header class="@(Model.Mode)">
            <ul>
                <li class="status"></li>
                <li class="logo"></li>
                <li class="space"></li>
                <li class="symbol"></li>
                <li class="area screen_name"></li>
                <li class="element symbol"></li>
                <li class="element screen_name"></li>
                <li class="element close"></li>
                <li class="spaceall"></li>
                @if (Model.IsLogEnabled)
                {
                    <li class="log" onclick="handleLog()">Log</li>
                }
                @if (Model.Ressources.ListOfLanguages.Count > 1)
                {
                    @foreach (string language in Model.Ressources.ListOfLanguages)
                    {
                        if (ViewBag.First && !Model.IsLogEnabled)
                        {
                            ViewBag.First = false;
                        }
                        else
                        {
                            <li class="divider"></li>
                        }

                        if (language.Equals(Model.UserProfile.Language))
                        {
                            <li id="@(language)" class="language selected" onclick="Language.Manager.Instance.onChangeLanguage('@(language)');">@(language)</li>
                        }
                        else
                        {
                            <li id="@(language)" class="language" onclick="Language.Manager.Instance.onChangeLanguage('@(language)');">@(language)</li>
                        }
                    }
                }
                <li class="space"></li>
                <li class="photo"><img src="~/Content/Images/Header/User.svg" /></li>
                <li class="signout" onclick="signOut();"></li>
                <li class="space"></li>
            </ul>
        </header>

        <!-- Menu -->

        <menu>
            <ul>
                <li class="spaceall"></li>
                <li class="field"></li>
                <!-- li class="button" id="help"></!-li -->
            </ul>
        </menu>

        <!-- no script -->

        <noscript class="fullpage"><div><h1>@Model.GetLabel("MSG_NO_SCRIPT")</h1></div></noscript>

        <!-- Main screen - enable if and only if the javascript is enbled -->

        <main class="fullpage" style="display:none;">
            @RenderBody()
        </main>

        <!-- Log screen -->

        <log id="log" class="fullpage" style="display:none;"></log>

        <!-- Dialog boxes -->

        <dialog class="fullpage" style="display:none;"></dialog>

        <!-- Progress bar ... disable all other features ... -->

        <div class="progress" style="display:none;">
            <div>
                <progress id="bar" min="0" max="100" value="0"></progress>
                <br />
                <div id="progressStatus">@Model.GetLabel("MSG_LOADING")</div>
            </div>
        </div>

        <!-- IFrame to download a file -->

        <iframe id="downloadFile" style="display:none"></iframe>

        <!-- Footer -->

        <footer class="withMemory">
            <div class="company">@Model.GetLabel("FOOTER_Syncytium") -&nbsp;</div><div class="release">@(Model.Version)</div>
        </footer>

        <!-- Memory space available -->

        <div class="memory">
            <div class="container">&nbsp;</div>
        </div>
    </body>
</html>
